.vscode/**
.vscode-test/**
src/**
webview-ui/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview-ui/node_modules/**
!out/**/*.js
!out/webview/**
resources/icon-dark.svg
resources/icon-light.svg
resources/icon-theme-aware.svg
resources/nodejs-package-manager.svg
!resources/sidebar.svg
AGENTS.md
DEV.md
